.postList {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1600px) {
	.postList {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 1300) {
	.postList {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 840px) {
	.postList {
		grid-template-columns: 1fr;
	}
}

.postItem {
	margin: 10px;
	min-width: 350px;
	max-width: 400px;
}
.filtersContainer {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.clear-filters {
	width: 95%;
}
